In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
from matplotlib import pyplot as plt
import matplotlib
from datetime import datetime
 
import warnings
warnings.filterwarnings("ignore")
 
%matplotlib inline

print(plt.style.available)
print('pandas version:',pd.__version__)
print('seaborn version:',sns.__version__)
print('matplotlib version:',matplotlib.__version__)

['bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark-palette', 'seaborn-dark', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'seaborn', 'Solarize_Light2', 'tableau-colorblind10', '_classic_test']
pandas version: 0.23.4
seaborn version: 0.9.0
matplotlib version: 2.2.3

In [6]:
	
train = pd.read_csv('data/ccf_offline_stage1_train.csv')
train.head()

,User_id,Merchant_id,Coupon_id,Discount_rate,Distance,Date_received,Date
0,1439408,2632,NaN,NaN,0.0,NaN,20160217.0
1,1439408,4663,11002.0,150:20,1.0,20160528.0,NaN
2,1439408,2632,8591.0,20:1,0.0,20160217.0,NaN
3,1439408,2632,1078.0,20:1,0.0,20160319.0,NaN
4,1439408,2632,8591.0,20:1,0.0,20160613.0,NaN

In [13]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1754884 entries, 0 to 1754883
Data columns (total 7 columns):
User_id          int64
Merchant_id      int64
Coupon_id        float64
Discount_rate    object
Distance         float64
Date_received    float64
Date             float64
dtypes: float64(4), int64(2), object(1)
memory usage: 93.7+ MB

In [14]:
train.isnull().sum()/len(train)

User_id          0.000000
Merchant_id      0.000000
Coupon_id        0.399800
Discount_rate    0.399800
Distance         0.060405
Date_received    0.399800
Date             0.557245
dtype: float64

In [20]:
len(set(train['User_id']))

539438

In [21]:
train['sum'] = 1
user_id_count = train.groupby(['User_id'], as_index = False)['sum'].agg({'count':np.sum})

In [22]:
user_id_count.sort_values(['count'],ascending=0)[:20]

        User_id  count
370014  5054119    264
201029  2751537    155
215655  2949273    137
487797  6655171    136
354467  4840568    134
486773  6641735    132
290803  3977895    127
382156  5219700    126
395960  5409340    121
215879  2952204    119
7436     103066    117
422675  5770618    115
36551    501441    113
133130  1819999    112
183299  2507268    111
478645  6529542    111
90600   1243042    111
207508  2839484    110
252458  3450785    110
482795  6587445    109